body {
    font-family: cursive;
    width: 35%;
}

h3 {
    display: inline-block;
    width: 40%;
}

button {
    margin-bottom: 10%;
    margin-top: 5%;
    width: 100%;
}

img {
    display: inline-block;
    width: 40%;
}

table {
    width: 100%;
}